@using ToDoList.Shared.Models;
@using ToDoListProject.Pages
@using ToDoListProject.Services
@inject ToDoService ToDoService
@inject NavigationService NavigationService
@inject ToDoListComponent ToDoListComponent
@inject IJSRuntime JS

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ToDoListProject</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <div class="position-relative">
                <input class="form-control pe-4" @bind-value="_searchTerm" @bind-value:event="oninput" placeholder="Search" />
                <i class="fa-solid fa-magnifying-glass position-absolute top-50 end-0 translate-middle-y pe-2"></i>
            </div>
        </div>

        @foreach (ToDoListModel list in _filteredLists)
        {
            <div class="nav-item px-3" data-list-id="@list.Id">
                <NavLink href="@($"/list/{list.Id}")" class="nav-link d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <span class="oi oi-list-rich" aria-hidden="true"></span>
                        @if (_editingListId == list.Id)
                        {
                            <form @onsubmit="@((e) => FinishEditing(list))" style="width: 100%;">
                                <input class="form-control" 
                                       @bind="_editingListName"
                                       @bind:event="oninput"
                                       @onfocusout="@(() => FinishEditing(list))"
                                       style="width: 100%; height: 100%;" />
                            </form>
                        }
                        else
                        {
                            <span>@(list.Id == _editingListId ? _editingListName : list.ListName)</span>
                        }
                    </div>
                    @{
                        int uncompletedCount = ToDoService.GetUncompletedCount(list.Id);
                        if (uncompletedCount > 0)
                        {
                            <span class="badge bg-secondary">@uncompletedCount</span>
                        }
                    }
                </NavLink>
            </div>
        }

        <div class="nav-item px-3 mt-auto">
            <button class="btn btn-primary w-100 text-md-start" @onclick="AddNewList"><i class="fa-solid fa-plus"></i> &nbsp; Add new list</button>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private List<ToDoListModel> _lists = new List<ToDoListModel>();
    private ToDoListModel _newList;
    private string _editingListId;
    private string _editingListName;
    private string _searchTerm = string.Empty;
    private int _uncompletedCount;

    private List<ToDoListModel> _filteredLists => _lists.Where(list => list.ListName.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var allLists = await ToDoService.GetAllListsAsync();
            _lists = allLists ?? new List<ToDoListModel>();

            ToDoListComponent.ListNameChanged += MyObject_ListNameChanged;
            ToDoService.ListUpdated += MyObject_ListUpdated;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading lists: {ex.Message}");
        }
    }

    private void MyObject_ListNameChanged(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    private void MyObject_ListUpdated(object sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task AddNewList()
    {
        // Create a new empty list and send the API request
        _newList = new ToDoListModel { ListName = "" };
        var createdList = await ToDoService.AddListAsync(_newList);

        if (createdList != null)
        {
            // Add it to the local list to show in the UI
            _lists.Add(createdList);

            _editingListId = createdList.Id;
            _editingListName = createdList.ListName;
            Console.WriteLine($"createdList.Id: {createdList.Id}");

            StateHasChanged();

            await FocusNewInput(_newList.Id);

        }
        else
        {
            Console.WriteLine("Failed to create new list.");
        }
    }

    private async Task FocusNewInput(string listId)
    {
        await JS.InvokeAsync<object>("focusNewInput", listId);
    }

    private async Task FinishEditing(ToDoListModel list)
    {
        if (string.IsNullOrWhiteSpace(_editingListName))
        {
            _editingListName = GenerateUntitledName();
        }

        if (_editingListName.Length > 100)
        {
            _editingListName = _editingListName.Length <= 100 ? _editingListName : _editingListName[..100];
        }

        list.ListName = _editingListName;
        _editingListId = null;
        await ToDoService.UpdateListAsync(list);
        NavigationService.NavigateToList($"{list.Id}");
        StateHasChanged();
    }

    private string GenerateUntitledName()
    {
        int counter = 1;
        string baseName = "Untitled";
        string newName;

        do
        {
            newName = $"{baseName}{counter}";
            counter++;
        } while (_lists.Any(l => l.ListName == newName));
        
        return newName;
    }
}