@model IEnumerable<ToDoList.Models.ToDo>

@{
}

<div id="progressBarToDo">
    <p>
        <div class="progress">
            @if (ViewBag.Percent == 100f)
            {
                <div class="progress-bar bg-success" role="progressbar" style="width:@(Html.Encode(ViewBag.Percent))%">@(ViewBag.Percent)%</div>
            }
            else
            {
                <div class="progress-bar bg-info" role="progressbar" style="width:@(Html.Encode(ViewBag.Percent))%">@(ViewBag.Percent)%</div>
            }
        </div>
    </p>
</div>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="editable-description" data-id="@item.Id">
                        @if (!item.IsChecked)
                        {
                            <span>@Html.DisplayFor(modelItem => item.Description)</span>
                        }
                        else
                        {
                            <div class="CompletedToDo">
                                <span>@Html.DisplayFor(modelItem => item.Description)</span>
                            </div>
                        }
                    </div>
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsChecked, new { id = item.Id, @class = "ActiveCheck" })
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/AddCheckboxListener.js"></script>
<script src="~/js/EditDescription.js"></script>