@model IEnumerable<ToDoList.Models.ToDo>

@{
}

<div id="progressBarToDo">
    <p>
        <div class="progress">
            @if (ViewBag.Percent == 100f)
            {
                <div class="progress-bar bg-success" role="progressbar" style="width:@(Html.Encode(ViewBag.Percent))%">@(ViewBag.Percent)%</div>
            }
            else
            {
                <div class="progress-bar bg-info" role="progressbar" style="width:@(Html.Encode(ViewBag.Percent))%">@(ViewBag.Percent)%</div>
            }
        </div>
    </p>
</div>

<table class="table">
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="editable-description" data-id="@item.Id">
                        @if (!item.IsChecked)
                        {
                            <span>@Html.DisplayFor(modelItem => item.Description)</span>
                        }
                        else
                        {
                            <div class="CompletedToDo">
                                <span>@Html.DisplayFor(modelItem => item.Description)</span>
                            </div>
                        }
                    </div>
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsChecked, new { id = item.Id, @class = "ActiveCheck" })
                </td>
                <td>
                    @* <a asp-action="AJAXDelete" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv" asp-route-id="@item.Id" class="DeleteItem">Delete</a> *@
                    @* <form asp-action="AJAXDelete" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#tableDiv" class="DeleteItem">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @Html.AntiForgeryToken()
                        <input asp-route-id="@item.Id" type="hidden" />
                        <input type="submit" value="X" class="btn btn-danger" />
                    </form> *@
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/AddCheckboxListener.js"></script>
<script src="~/js/EditDescription.js"></script>
<script src="~/js/DeleteToDo.js"></script>